[Unit]
Description=udpgw
After=network.target
Wants=network.target
[Service]
Group=nogroup
LimitCORE=infinity
LimitNOFILE=512000
LimitNPROC=512000
Type=simple
PIDFile=/tmp/udpgw.pid
ExecStart=/root/badvpn-udpgw --listen-addr 192.168.221.100:7300 --max-clients 100 --max-connections-for-client 500
KillMode=process
Restart=always

[Install]
WantedBy=udpgw.target